#fileDropBox {
	text-align: center;
	width: 100%;
}

#list .uploaded {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

a.uploaded > img {
    width: 1rem;
    height: 1rem;
    border: none;
    overflow: visible;
    padding: 3px;
}

.box_icon {
	width: 100%;
	height: 60px;
	vertical-align: middle;
	text-align: center;
	fill: #92b0b3;
}

.box_file {
	position: absolute;
}


input[type='file'] {
	display: none;
}


.box_button img {
	margin-bottom: -2px;
	margin-left: 2px;
	width: 18px;
}

#upload_conf {
    display: flex;
}

.box_button:hover,
.box_button:focus {
	background: #207ab6;
	cursor: pointer;
}


#list ul {
	margin: 0;
	padding: 10px;
    list-style-type: none;
    color: #687b9d;
}

#list li {
	word-wrap: break-word;
}

#list .uploaded {
	text-decoration: none;
	color: #3498db;
}

#list .uploaded:hover {
	color: #207ab6;
	cursor: pointer;
}

.removeItem {
	color: red;
	font-size: 20px;
	text-decoration: none;
}

.removeItem:hover {
	font-weight: bold;
	cursor: pointer;
}

spam#fileProperties {
	color: #687b9d;
}

spam#info {
	color: #92b0b3;
}

/*! CSS Used from: Embedded */
*,*::before,*::after{box-sizing:inherit;}
/*! CSS Used from: Embedded */
.MuiGrid-item{margin:0;box-sizing:border-box;}
.MuiGrid-spacing-xs-2 > .MuiGrid-item{padding:8px;}
.MuiGrid-grid-xs-12{flex-grow:0;max-width:100%;flex-basis:100%;}
@media (min-width:960px){
.MuiGrid-grid-md-6{flex-grow:0;max-width:50%;flex-basis:50%;}
}
/*! CSS Used from: Embedded */
.jss83{color:#7533E2;display:block;;   font-size:14px;margin-top:0;font-weight:700;margin-left:3px;margin-bottom:4px;}
.jss84{border:1px solid #C7CBD9;cursor:pointer;height:50px;display:flex;padding:5px;position:relative;border-radius:6px;background-color:white;}
.jss84 div{color:#6E798F;width:calc(50% - 2.5px);z-index:2;position:relative;font-size:14px;text-align:center;transition:0.3s ease;font-weight:600;line-height:40px;border-radius:5px;}
.jss84::after{top:4px;left:5px;width:calc(50% - 7.5px);height:40px;content:' ';z-index:1;position:absolute;transition:0.3s ease;border-radius:5px;background-color:#3E3B51;}
.jss84 div:first-child{margin-right:5px;}
.jss85:checked + label::after{left:calc(50% + 2.5px);transition:0.3s ease;}
.jss85:checked + label div:nth-child(2){color:#fff;transition:0.3s ease;}

.jss35:not(:checked) + label div:first-child {
    color: #fff;
    transition: 0.3s ease;
}

.jss34 {
    border: 1px solid #C7CBD9;
    cursor: pointer;
    height: 50px;
    display: flex;
    padding: 5px;
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: white;
}

.jss35:checked + label div:nth-child(2) {
    color: #fff;
    transition: 0.3s ease;
}

.jss35:checked + label::after {
    left: calc(50% + 2.5px);
    transition: 0.3s ease;
}

.jss34::after {
    top: 4px;
    left: 5px;
    width: calc(50% - 7.5px);
    height: 40px;
    content: ' ';
    z-index: 1;
    position: absolute;
    transition: 0.3s ease;
    border-radius: 5px;
    background-color: #3E3B51;
}

.jss34 div {
    color: #6E798F;
    width: calc(50% - 2.5px);
    z-index: 2;
    position: relative;
    font-size: 14px;
    text-align: center;
    transition: 0.3s ease;
    font-weight: 600;
    line-height: 40px;
    border-radius: 5px;
}