@-webkit-keyframes animation-1p2h4ri {
    0% {
        stroke-dasharray: 1px,200px;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 100px,200px;
        stroke-dashoffset: -15px
    }

    to {
        stroke-dasharray: 100px,200px;
        stroke-dashoffset: -125px
    }
}

@keyframes animation-1p2h4ri {
    0% {
        stroke-dasharray: 1px,200px;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 100px,200px;
        stroke-dashoffset: -15px
    }

    to {
        stroke-dasharray: 100px,200px;
        stroke-dashoffset: -125px
    }
}

#fileDropBox,.box_icon {
    text-align: center;
    width: 100%
}

#list .uploaded {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #3498db
}

a.uploaded>img {
    width: 1rem;
    height: 1rem;
    border: 0;
    overflow: visible;
    padding: 3px
}

.box_icon {
    height: 60px;
    vertical-align: middle;
    fill: #92b0b3
}

.box_file {
    position: absolute
}

input[type=file] {
    display: none
}

.box_button img {
    margin-bottom: -2px;
    margin-left: 2px;
    width: 18px
}

#upload_conf {
    display: flex
}

.box_button:focus,.box_button:hover {
    background: #207ab6;
    cursor: pointer
}

#list ul {
    margin: 0;
    padding: 10px;
    list-style-type: none
}

#list li {
    word-wrap: break-word
}

#list .uploaded:hover {
    color: #207ab6;
    cursor: pointer
}

.removeItem {
    color: red;
    font-size: 20px;
    text-decoration: none
}

.removeItem:hover {
    font-weight: 700;
    cursor: pointer
}

#list ul,spam#fileProperties {
    color: #687b9d
}

spam#info {
    color: #92b0b3
}

@media (min-width:960px) {
    .MuiGrid-grid-md-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%
    }
}

.jss83 {
    color: #7533e2;
    display: block;
    font-size: 14px;
    margin-top: 0;
    font-weight: 700;
    margin-left: 3px;
    margin-bottom: 4px
}

.jss84 {
    border: 1px solid #c7cbd9;
    cursor: pointer;
    height: 50px;
    display: flex;
    padding: 5px;
    position: relative;
    border-radius: 6px;
    background-color: #fff
}

.jss34 div,.jss84 div {
    color: #6e798f;
    width: calc(50% - 2.5px);
    z-index: 2;
    position: relative;
    font-size: 14px;
    text-align: center;
    transition: .3s ease;
    font-weight: 600;
    line-height: 40px;
    border-radius: 5px
}

.jss34::after,.jss84::after {
    top: 4px;
    left: 5px;
    width: calc(50% - 7.5px);
    height: 40px;
    content: " ";
    z-index: 1;
    position: absolute;
    transition: .3s ease;
    border-radius: 5px;
    background-color: #3e3b51
}

.jss84 div:first-child {
    margin-right: 5px
}

.networkToggleLabel {
    border: 1px solid #c7cbd9;
    cursor: pointer;
    height: 36px;
    width: 150px;
    display: flex;
    padding: 5px;
    position: relative;
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 0px;
}

.jss34 div,.networkToggleLabel div {
    color: #6e798f;
    width: calc(50% - 2.5px);
    z-index: 2;
    position: relative;
    font-size: 13px;
    text-align: center;
    transition: .3s ease;
    font-weight: 600;
    line-height: 26px;
    border-radius: 5px
}

.jss34::after,.networkToggleLabel::after {
    top: 4px;
    left: 5px;
    width: calc(50% - 7.5px);
    height: 26px;
    content: " ";
    z-index: 1;
    position: absolute;
    transition: .3s ease;
    border-radius: 5px;
    background-color: #3e3b51
}

.networkToggleLabel div:first-child {
    margin-right: 5px
}

.jss35:checked+label::after,.jss85:checked+label::after {
    left: calc(50% + 2.5px);
    transition: .3s ease
}

.jss35:checked+label div:nth-child(2),.jss85:checked+label div:nth-child(2) {
    color: #fff;
    transition: .3s ease
}

.jss34 {
    border: 1px solid #c7cbd9;
    cursor: pointer;
    height: 50px;
    display: flex;
    padding: 5px;
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: #fff
}

.MuiPaper-root,body {
    color: rgba(0,0,0,.87)
}

body {
    margin: 0;
    font-size: .875rem;
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background-color: #fafafa
}

@media print {
    body {
        background-color: #fff
    }
}

.MuiPaper-root {
    transition: box-shadow 300ms cubic-bezier(.4,0,.2,1) 0ms;
    background-color: #fff
}

.MuiPaper-elevation4 {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
}

.MuiAppBar-root {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column
}

.MuiAppBar-positionStatic {
    position: static
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #7167d9
}

.MuiContainer-root {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px
}

@media (min-width:600px) {
    .MuiContainer-root {
        padding-left: 24px;
        padding-right: 24px
    }
}

@media (min-width:1280px) {
    .MuiContainer-maxWidthLg {
        max-width: 1280px
    }
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
    flex-shrink: 0;
    user-select: none
}

.jss1 {
    margin: auto;
    padding: 0;
    max-width: 1080px
}

@media (max-width:1120px) {
    .jss1 {
        padding: 0 20px
    }
}

@media (max-width:599px) {
    .jss1 {
        padding: 0 15px
    }
}

.jss2 {
    height: 80px;
    position: relative;
    box-shadow: none;
    border-bottom: 2px solid #7533e2;
    background-color: #fff
}

.jss3 {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.jss4 {
    height: 40px
}

@media (max-width:599px) {
    .jss4 {
        height: 30px
    }
}

.jss5 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between
}

@media (max-width:859px) {
    .jss5 {
        justify-content: unset;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 30px;
        flex-direction: row-reverse
    }
}

.jss6,.jss6 .menuItem {
    display: flex;
    align-items: center
}

@media (max-width:859px) {
    .jss6 {
        top: 80px;
        left: 0;
        width: 100%;
        height: 0;
        padding: 0;
        overflow: hidden;
        position: absolute;
        transition: all .5s ease;
        justify-content: space-evenly;
        background-color: #fff
    }
}

.jss6 .menuItem {
    color: #000;
    border: 1px solid #e8e8e8;
    height: 36px;
    padding: 0 15px 0 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 36px;
    margin-right: 15px;
    border-radius: 19px;
    text-decoration: none;
    background-color: transparent
}

.jss6 .menuItemIcon {
    fill: #6e798f;
    width: 16px;
    height: 16px;
    transition: none;
    margin-right: 5px;
    color: #6e798f
}

.jss6 .menuItem.active,.jss6 .menuItem:hover {
    color: #fff;
    border-color: #8247e5;
    background-color: #8247e5
}

@media (max-width:859px) {
    .jss6 .menuItem {
        text-align: center;
        line-height: 50px;
        margin-right: 0
    }
}

.jss6 .menuItem.active svg,.jss6 .menuItem:hover svg {
    fill: #fff;
    color: #fff
}

.jss7,button.jss7.bp3-button.bp3-minimal.bp3-outlined.bp3-intent-warning,div#frozen-dropdown,input#checkedA {
    display: none
}

@media (max-width:859px) {
    button.jss7.bp3-button.bp3-minimal.bp3-outlined.bp3-intent-warning {
        display: block;
        border-radius: 4px!important;
        padding-left: 18px;
        padding-right: 18px;
        margin-top: 0
    }

    .jss7 {
        display: block;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #783be500;
        border-radius: 6px;
        border: 0;
        margin-left: 20px;
        height: 36px
    }

    .jss7:hover {
        background: #e3e3e3
    }

    .jss7:focus {
        background: #e0dede
    }
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box
}

.MuiGrid-spacing-xs-2 {
    width: calc(100% + 16px);
    margin: -8px
}

.MuiGrid-spacing-xs-2>.MuiGrid-item {
    padding: 8px
}

.MuiGrid-spacing-xs-3 {
    width: calc(100% + 24px);
    margin: -12px
}

.MuiGrid-spacing-xs-3>.MuiGrid-item {
    padding: 12px
}

.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%
}

@media (min-width:600px) {
    .MuiGrid-grid-sm-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%
    }

    .MuiGrid-grid-sm-8 {
        flex-grow: 0;
        max-width: 66.666667%;
        flex-basis: 66.666667%
    }
}

@media (min-width:960px) {
    .MuiGrid-grid-md-6 {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%
    }
}

.jss47 {
    margin: auto;
    padding: 0;
    max-width: 1080px
}

@media (max-width:1120px) {
    .jss47 {
        padding: 0 20px
    }
}

@media (max-width:599px) {
    .jss47 {
        padding: 0 15px
    }
}

.jss48 {
    padding: 70px 0;
    position: relative;
    border-top: 10px solid #8247e5;
    background-color: #061024
}

.jss48:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    opacity: .2;
    position: absolute;
    background-size: cover;
    background-image: url(images/img-3.png);
    background-position: center
}

.jss49 {
    height: 40px
}

.jss50 {
    color: #fff;
    font-size: 14px;
    max-width: 360px;
    font-weight: 600;
    margin-bottom: 0
}

.jss51 {
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    transition: .1s ease;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    background-color: #271f58
}

.jss51:first-child {
    margin-right: 20px
}

.jss51:hover {
    color: #8247e5;
    background-color: #fff
}

.jss51 svg {
    fill: #fff;
    width: 30px
}

@media (max-width:599px) {
    .jss51 {
        margin-top: 30px
    }
}

.jss51:hover svg {
    fill: #000
}

.jss52 {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end
}

@media (max-width:599px) {
    .jss52 {
        justify-content: flex-start
    }
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent
}

.MuiButtonBase-root::-moz-focus-inner {
    border-style: none
}

.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none
}

@media print {
    .MuiButtonBase-root {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact
    }
}

.MuiButton-root:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,.04)
}

.MuiButton-root.Mui-disabled {
    color: rgba(0,0,0,.26);
    color: #fff;
    border-color: #bdc3c7;
    background-color: #bdc3c7
}

@media (hover:none) {
    .MuiButton-root:hover {
        background-color: transparent
    }
}

.MuiButton-root:hover.Mui-disabled {
    background-color: transparent
}

.MuiButton-text {
    padding: 6px 8px
}

.jss53 {
    display: flex;
    position: relative
}

.jss54 {
    border: 0;
    cursor: pointer;
    height: 36px;
    display: flex;
    outline: 0;
    padding: 0 18px 0 8px;
    background: #e3e3e3;
    align-items: center;
    line-height: 36px;
    border-radius: 18px
}

@media (max-width:599px) {
    .jss54 {
        padding: 0
    }
}

.jss54:hover {
    color: #fff;
    background-color: #000
}

@media (max-width:599px) {
    .jss54 div {
        margin: 0;
        display: none
    }
}

.jss55 {
    width: 24px!important;
    height: 24px!important;
    margin-right: 5px;
    border-radius: 12px
}

.jss55.green {
    border-color: green
}

@media (max-width:599px) {
    .jss55 {
        width: 36px!important;
        border: 2px solid;
        height: 36px!important;
        margin-right: 0;
        border-radius: 20px
    }
}

.jss14 {
    margin: auto;
    padding: 0;
    max-width: 1080px
}

@media (max-width:1120px) {
    .jss14 {
        padding: 0 20px
    }
}

@media (max-width:599px) {
    .jss14 {
        padding: 0 15px
    }
}

.jss15,.jss16 {
    position: relative
}

.jss15 {
    top: -70px;
    filter: drop-shadow(0 2px 24px rgba(0,0,0,.1));
    overflow: hidden;
    border-radius: 16px
}

.jss15 .form-title {
    height: 70px;
    padding: 0 26px;
    font-size: 18px;
    font-weight: 600;
    line-height: 70px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #f9f9fe
}

.jss15 .form-title h3 {
    margin: 0
}

.jss16 {
    top: 0;
    left: 0;
    margin-bottom: 30px
}

.jss16 input,.jss16 textarea {
    color: #000;
    width: 100%;
    border: 1px solid #c7cbd9;
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    font-family: "Nunito Sans",sans-serif;
    font-weight: 500;
    border-radius: 6px;
    background-color: #fff
}

.jss16 textarea {
    padding: 15px
}

.jss16 label {
    color: #7533e2;
    display: block;
    font-size: 14px;
    font-weight: 700
}

input#toggleImageMimetypeSwitch {
    height: 20px!important
}

.jss16 label span {
    color: #515c72;
    font-size: 14px;
    font-weight: 400
}

.jss16 input:active,.jss16 textarea:active {
    border: 1.5px solid #7533e2;
    outline: 0
}

.jss16 input:focus,.jss16 textarea:focus {
    border: 1.5px solid #7533e2;
    outline: 0
}

.jss16 input:disabled,.jss16 textarea:disabled {
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    background-color: #fafafa
}

.jss17 {
    color: #7533e2;
    margin: 0;
    font-size: 14px;
    font-weight: 700
}

.jss21:hover {
    color: #fff;
    border-color: #7533e2;
    background-color: #7533e2
}

.jss21:disabled {
    color: #fff;
    border-color: #bdc3c7;
    background-color: #bdc3c7
}

.jss25 {
    padding-bottom: 70px;
    background-color: #f4f7f9
}

@media (max-width:959px) {
    .jss25 {
        padding-bottom: 0
    }
}

.jss26 {
    width: 100%;
    padding: 26px;
    background-color: #fff
}

.jss27 p,.jss28 p {
    color: #61677e;
    margin: 0 0 20px;
    font-size: 12px;
    text-align: left;
    font-weight: 600
}

.jss28 p {
    color: #939bba;
    margin: 0;
    font-size: 14px;
    text-align: center
}

.jss28,.jss30 {
    display: flex;
    margin-top: 5px
}

.jss28 {
    border: 1px dashed #c7cbd9;
    padding: 60px 10px;
    align-items: center;
    border-radius: 6px;
    flex-direction: column;
    justify-content: center
}

.jss28 p label,div#fileDropBox>label {
    color: #8247e5;
    cursor: pointer;
    text-decoration: underline
}

.jss28 p label:hover {
    color: #7533e2
}

.jss30 {
    border-radius: 5px;
    border: 1px solid #c7cbd9;
    height: 50px;
    padding: 5px;
    position: relative;
    background-color: #fff
}

.jss31:first-child {
    margin-right: 5px
}

.jss31:enabled {
    background-color: #f6f6ff
}

.jss32 {
    top: 40px;
    color: red;
    right: 15px;
    margin: 0;
    z-index: 2;
    position: absolute;
    font-weight: 600
}

.jss36 {
    color: #61677e;
    font-size: 12px;
    margin-top: 10px
}

.MuiTypography-root {
    margin: 0
}

.MuiTypography-h1,.MuiTypography-subtitle1 {
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400
}

.MuiTypography-h1 {
    font-size: 2.5rem;
    line-height: normal;
    letter-spacing: normal
}

.MuiTypography-subtitle1 {
    font-size: 1rem;
    line-height: 1.75
}

.jss8 {
    margin: auto;
    padding: 0;
    max-width: 1080px
}

@media (max-width:1120px) {
    .jss8 {
        padding: 0 20px
    }
}

@media (max-width:599px) {
    .jss8 {
        padding: 0 15px
    }
}

.jss9 {
    padding: 70px 0;
    overflow: hidden;
    position: relative;
    background-color: #7533e2
}

.jss9::after {
    top: -20px;
    left: 0;
    width: 100%;
    height: calc(100% + 50px);
    content: " ";
    opacity: .15;
    position: absolute;
    background-size: 100%;
    background-image: url(images/img-2.png)
}

.jss10 {
    color: #fff;
    margin-bottom: 10px
}

.jss10 span {
    font-weight: 700
}

.jss11 {
    color: #d8c4f7;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 40px
}

@media (max-width:959px) {
    .jss11 {
        margin-bottom: 50px
    }
}

.jMhaxE img {
    width: 100%;
    height: 100%
}

@media screen and (max-width:768px) {
    .jMhaxE {
        width: 8.5vw;
        height: 8.5vw
    }

    .bktcUM {
        font-size: 5vw
    }

    .eFHlqH {
        font-size: 4vw
    }
}

.jcNZzC {
    transition: background-color .2s ease-in-out 0s;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px 16px
}

@media screen and (max-width:768px) {
    .jcNZzC {
        padding: 1vw
    }
}

.cjAFRf,.kRmdPb {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center
}

.cjAFRf {
    width: 100%;
    padding: 8px;
    flex-direction: column;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid rgba(195,195,195,.14)
}

@media (hover:hover) {
    .cjAFRf:hover .sc-hKFyIo {
        background-color: rgba(195,195,195,.14)
    }
}

.kRmdPb {
    transition: opacity .1s ease-in-out 0s;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    top: 0;
    left: 50%;
    z-index: 2;
    will-change: opacity;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none
}

.kRmdPb * {
    box-sizing: border-box!important
}

.fVQpCb {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none
}

.knnrxv {
    position: absolute;
    inset: 0
}

.hCtqhh {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    margin: 10px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    max-width: 800px;
    min-width: fit-content;
    max-height: 100%;
    overflow: auto
}

@media screen and (max-width:768px) {
    .hCtqhh {
        max-width: 800px;
        grid-template-columns: 1fr
    }
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cfe5.woff)format("woff")
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc9iB_5p.woff)format("woff")
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc8GBv5p.woff)format("woff")
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8ccewI9tAcVwob5A.woff2)format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cce5I9tAcVwob5A.woff2)format("woff2");unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cceyI9tAcVwob5A.woff2)format("woff2");unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8ccezI9tAcVwob5A.woff2)format("woff2");unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe0qMImSLYBIv1o4X1M8cce9I9tAcVwo.woff2)format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc9iB85gU1ECVZl_86Y.woff2)format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc9iB85pU1ECVZl_86Y.woff2)format("woff2");unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc9iB85iU1ECVZl_86Y.woff2)format("woff2");unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc9iB85jU1ECVZl_86Y.woff2)format("woff2");unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc9iB85tU1ECVZl_.woff2)format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc8GBs5gU1ECVZl_86Y.woff2)format("woff2");unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc8GBs5pU1ECVZl_86Y.woff2)format("woff2");unicode-range:U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc8GBs5iU1ECVZl_86Y.woff2)format("woff2");unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc8GBs5jU1ECVZl_86Y.woff2)format("woff2");unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family:"Nunito Sans";font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/nunitosans/v8/pe03MImSLYBIv1o4X1M8cc8GBs5tU1ECVZl_.woff2)format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

button.bp3-button.bp3-minimal.bp3-outlined.bp3-intent-warning {
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    height: 36px;
    display: flex;
    background: #e3e3e3;
    color: #3e3b51;
    border-style: solid;
    border-width: 2px;
    border-color: #e3e3e3!important;
    outline: 0;
    align-items: center;
    line-height: initial;
    border-radius: 18px!important
}

.bp3-button.bp3-outlined.bp3-intent-warning.bp3-active,.bp3-button.bp3-outlined.bp3-intent-warning:active,.bp3-button.bp3-outlined.bp3-intent-warning:hover {
    background: #3e3b51!important;
    color: #fff!important
}

:focus {
    outline: rgb(52 19 189/60%) auto 2px;
    outline-offset: 2px
}

.jss29,.jss29 img {
    border: 1px solid #c7cbd9
}

.jss29 {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    border-radius: 6px;
    background-color: #fff
}

.jss29 img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px
}

.jss29 p span:first-child {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 3px
}

.jss29 p {
    margin: 0;
    display: flex;
    word-break: break-all;
    line-height: normal;
    flex-direction: column
}

g#_x31_3_Support_Ticket {
    color: #7b78ff
}

button.bp3-button.bp3-minimal.btn-selected-2 {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #c4c9d1
}

.button-connected {
    border-style: solid;
    border-color: #edeef2;
    background-color: #edeef2;
    height: 38px;
    border-radius: 18px!important;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center
}

.bp3-html-select .bp3-icon,.bp3-select .bp3-icon,.bp3-select::after {
    top: 10px;
    right: 5px
}

.bp3-button:not([class*=bp3-intent-]) {
    height: 38px
}

.bp3-html-select.bp3-minimal select,.bp3-select.bp3-minimal select {
    height: 38px
}

.jss31:disabled {
    color: #fff!important;
    background-color: #3e3b51!important
}

.bp3-html-select.bp3-minimal>select:focus,.bp3-html-select.bp3-minimal>select:hover {
    background: #874de6;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
    border-top-left-radius: 18px!important;
    border-bottom-left-radius: 18px!important;
    border-top-right-radius: 0;
    outline: 0!important;
    border-bottom-right-radius: 0;
    transition: background-color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms
}

.btn-selected-2,.btn-selected-2:focus,span.bp3-icon.bp3-icon-log-out:focus {
    outline: 0!important
}

.btn-selected-2 {
    border-top-right-radius: 18px!important;
    border-bottom-right-radius: 18px!important;
    color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.btn-selected:hover>span {
    color: #16c179
}

.btn-selected-2:active,.btn-selected-2:hover,.btn-selected:hover {
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms
}

.btn-selected:hover {
    box-shadow: none;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px
}

.btn-selected-2:active,.btn-selected-2:hover {
    background: #874de6!important;
    box-shadow: none!important;
    color: #fff;
    border-top-right-radius: 18px!important;
    border-bottom-right-radius: 18px!important;
    outline: 0!important
}

.btn-selected-2:focus>span,.btn-selected-2:hover>span {
    fill: #fff!important;
    color: #fff
}

.button-connected:hover {
    background-color: #874ee62e
}

.btn-selected-2:focus:not(:focus-visible) {
    outline: 0
}

.btn-selected-2:active>span {
    color: #fff
}

.btn-selected-2:hover>span {
    outline: 0!important
}

.jss31 {
    width: 50%;
    border: 0;
    cursor: pointer;
    height: calc(50px - 12px);
    outline: 0;
    font-weight: 600;
    border-radius: 5px
}

.MuiButton-root {
    color: rgba(0,0,0,.87);
    padding: 6px 16px;
    font-size: .875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms;
    font-family: "Nunito Sans",sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase
}

.wallet-option {
    display: flex;
    align-items: center;
    flex-direction: column
}

.eFHlqH {
    width: 100%;
    font-size: 18px;
    margin: .333em 0;
    color: #a9a9bc
}

.jMhaxE {
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 50%;
    overflow: visible;
    box-shadow: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center
}

.bktcUM,h3.wallet-con {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #0c0c0d
}

.bktcUM {
    margin-top: .5em
}

span.bp3-button-text {
    font-weight: 600;
    width: 100%;
    text-align: center
}

.bp3-button.bp3-large,.bp3-large .bp3-button {
    min-height: 40px;
    min-width: 40px;
    font-size: 16px;
    padding: 5px 15px
}

li {
    display: list-item;
    text-align: -webkit-match-parent
}

.bp3-button.bp3-fill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

h3.wallet-con {
    margin: .5em 0 0
}

.bp3-dialog-header {
    padding-right: 24px!important;
    padding-left: 24px!important;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px
}

.bp3-icon.bp3-icon-small-cross>svg {
    width: 32px!important;
    height: 24px!important;
    fill: #fff
}

.jss2 {
    z-index: 20
}

.bp3-dialog {
    background: #fff!important
}

.bp3-dialog-header {
    height: 0;
    min-height: 0;
    padding: 0;
    width: 0;
    display: none
}

.bp3-dialog-header .bp3-heading {
    color: #fff
}

@media (min-width:320px) and (max-width:767px) {
    .sm\:justify-between {
        justify-content: space-between!important
    }

    .absolute {
        position: unset!important;
        padding-top: 6px
    }
}

a.p-2.px-4.bg-white.text-black.label-sm.rounded-full {
    background-color: #fff;
    padding: 4px;
    border-radius: 99999px!important;
    color: #000;
    font-weight: 600!important;
    padding: .25rem .75rem!important;
    margin-right: 3rem
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-12.mb-4 {
    margin-bottom: 1rem
}

.bg-primary-500 {
    background-color: rgb(52 51 59);
    color: #fff;
    justify-content: center;
    display: flex;
    font-weight: 600;
    padding: .75rem 1rem!important;
    align-items: center
}

.label-md {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5
}

.mr-10 {
    margin-right: 3rem!important
}

.absolute {
    position: absolute;
    padding-top: 6px;
    right: .5rem
}

.right-3 {
    right: .5rem!important
}

.bp3-dialog,button#wallet-connect {
    width: 100%;
    background-color: #fff;
    border-radius: 12px
}

button#wallet-connect {
    transition: background-color .2s ease-in-out 0s;
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 24px 16px;
    border-color: #fff!important
}

button#wallet-connect:hover {
    background: rgba(195,195,195,.14)!important
}

.bp3-dialog {
    position: relative;
    margin: 10px;
    padding: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    max-width: 500px;
    max-height: 100%;
    overflow: auto
}

.bp3-dialog.dialoguez {
    color: #6E798F;
    font-weight: 600;
    width: 500px;
    display: flex;
    outline: none;
    padding: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 16px;
    flex-direction: column;
    background-color: #fff;
}

.jss43 .iconContainer {
    top: -40px;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    margin: auto;
    position: absolute;
}

.jss43 {
    height: 94px;
    position: relative;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #E3DEFF;
}

.wallet-option-list {
    list-style: none;
    width: 100%;
    padding-left: 0;
    height: 100%;
    margin: 0!important
}

.bp3-dialog-body {
    margin: 0
}

svg.r-ff-icon-walletIcon {
    overflow: visible
}

h2.type-logo {
    margin: 0;
    margin-left: 1rem;
    font-size: 2.1rem;
    font-family: inter;
    color: #182026
}

h2.type-logo:hover {
    text-decoration: none
}

a.logo-nav,button#wallet-connect {
    display: flex;
    align-items: center
}

button#buttonUpload {
    width: 100%;
    margin-top: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    height: 40px;
    z-index: 1;
    border-width: 0;
    transition: .3s ease;
    border-radius: 5px;
    background-color: #8247e5
}

.jss35:not(:checked)+label div:first-child {
    color: #fff;
    transition: .3s ease
}

.Mui-not-btn {
    border: 1px solid #8247e5;
    height: 44px;
    display: inline-flex;
    padding: 0 20px;
    position: relative;
    font-size: 16px;
    transition: all .3s ease;
    font-weight: 600;
    line-height: 44px;
    border-radius: 4px;
    text-transform: capitalize
}

.MuiAccordionSummary-expandIconWrapper.Mui-expanded.css-1n3veo1 {
    transform: rotate(90deg)
}

.mx-2 {
    margin-right: .5rem!important
}

svg:not(:root).svg-inline--fa {
    overflow: visible
}

.alert.alert-secondary.alert-dismissible.fade.show,pre {
    font-family: monospace,monospace;
    overflow: scroll;
    font-size: .8em
}

.jss37 {
    border: 1px solid #8247e5;
    height: 44px;
    display: inline-flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 20px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
    border-radius: 4px;
    text-transform: capitalize
}

.unit-name-label {
    color: #7533e2!important;
    font-size: 14px!important;
    font-weight: 700!important;
    margin-left: 3px;
    margin-bottom: 4px
}

label.advanced-options {
    cursor: pointer
}

.custom-control-input:checked~.custom-control-label:before {
    background-color: #7533e2!important;
    cursor: pointer!important;
    border-color: #7533e2!important;
    color: #fff
}

.label-switch .permitted .big-switch {
    color: #7533e2;
    font-size: 14px;
    font-weight: 700;
    margin-left: 3px;
    margin-bottom: 4px
}

.custom-switch .custom-control-label:after,.custom-switch .custom-control-label:before {
    cursor: pointer!important
}

.frozen-dropdown .frozen-dropdown-toggle {
    height: 50px;
    align-items: center
}

.jss37:hover {
    color: #fff;
    border-color: #7533e2;
    background-color: #7533e2
}

.contact-form,.results {
    margin: 8vh auto
}

p {
    margin-top: .5rem;
    font-size: 87.5%
}

.results pre {
    margin-top: 1rem;
    padding: .5rem 1rem;
    border: 1px solid var(--color-gray-light);
    overflow-x: scroll
}

.contact-form form {
    position: relative;
    display: block;
    margin: 0;
    padding: 1rem 0 2rem;
    border-top: 1px solid var(--color-gray-light);
    border-bottom: 1px solid var(--color-gray-light);
    overflow: hidden
}

.input-group {
    margin-top: .25rem
}

.contact-form label {
    display: block;
    font-size: 90%;
    line-height: 1.125
}

.group-label {
    display: inline-block;
    margin-right: 1rem;
    font-size: 90%
}

.contact-form label.inline {
    display: inline-block;
    margin-left: .25rem
}

.contact-form input,.contact-form select,.contact-form textarea {
    display: block;
    margin-top: .25rem;
    padding: .5rem .75rem;
    width: 100%;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    transition: 150ms border-color linear
}

.contact-form input[type=checkbox],.contact-form input[type=radio] {
    display: inline-block;
    width: auto
}

.contact-form input[type=checkbox]:not(:first-of-type),.contact-form input[type=radio]:not(:first-of-type) {
    margin-left: 1rem
}

.contact-form button {
    display: block;
    margin: .5rem 1rem 0;
    padding: 0 1rem .125rem;
    border: 0;
    font-family: lato,sans-serif;
    font-size: 100%;
    letter-spacing: .05em;
    line-height: 1.5;
    text-transform: uppercase;
    transition: 150ms all linear
}

.contact-form button:active,.contact-form button:focus,.contact-form button:hover {
    cursor: pointer
}

.metadata-object {
    color: #61677e;
    margin: 0 0 20px;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
    word-break: break-word
}

.total-supply-container {
    grid-gap: 10px
}

.disabled-field {
    line-height: 0!important;
    height: 20px!important;
    border-width: 0!important;
    padding: 0!important;
    cursor: unset!important
}

.disabled-field:hover {
    background-color: transparent!important
}

.field-row,.grid {
    display: flex;
    grid-gap: 10px;
    margin-bottom: 10px
}

.field-btn-change,.field-btn-create,.field-btn-delete {
    cursor: pointer;
    width: -webkit-fill-available;
    max-width: fit-content;
    background-color: #fff
}

.field-btn-change {
    color: #8247e5
}

.field-btn-change,.field-btn-create,.field-btn-delete {
    border: 1px solid #c7cbd9
}

.field-btn-delete {
    color: #db3737
}

.field-btn-create {
    color: #0d8050;
    display: flex;
    align-items: center
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}

.svg-inline--fa.fa-w-10 {
    width: .625em
}

.svg-inline--fa.fa-w-16 {
    width: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1)
}

small {
    font-size: 80%;
    font-weight: 400
}

svg {
    vertical-align: middle;
    overflow: hidden
}

textarea.form-control {
    height: auto
}

.btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(130,138,145,.5)
}

.custom-switch .custom-control-input:checked~.custom-control-label:after {
    background-color: #fff;
    -webkit-transform: translateX(.75rem);
    transform: translateX(.75rem)
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label:before {
    background-color: rgba(36,94,199,.5)
}

@media print {
    *,:after,:before {
        text-shadow: none!important;
        box-shadow: none!important
    }
}

.asset-description {
    color: gray;
    font-size: .6rem
}

.asset-form input,.custom-input-size {
    height: 50px
}

.advanced-options {
    font-size: 1rem;
    width: 100%
}

.advanced-options.opened {
    color: #245ec7
}

.asset-form-block {
    width: 100%;
    max-width: 575px;
    margin-left: auto;
    margin-right: auto
}

.asset-form-block small {
    font-size: .76rem
}

.permitted {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #245ec7
}

.permitted .big-switch {
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
}

button.bp3-button.bp3-minimal.bp3-outlined.bp3-intent-warning:focus {
    background: rgb(93 96 116)!important;
    color: #fff!important
}

.permitted .big-switch .custom-control-input {
    height: inherit
}

.frozen-dropdown .frozen-dropdown-toggle {
    width: 100%!important;
    display: flex;
    justify-content: space-between;
    background-color: #fff!important;
    border-color: #ced4da!important;
    color: #000!important
}

.frozen-dropdown .frozen-dropdown-toggle:after {
    align-self: center
}

.frozen-dropdown,.frozen-dropdown .frozen-dropdown-menu {
    width: 100%!important
}

.label-switch .permitted,label {
    font-size: .9rem!important;
    font-weight: 500
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

.label-switch {
    display: flex;
    justify-content: space-between
}

.label-switch .permitted {
    color: #245ec7
}

.label-switch .permitted .big-switch {
    display: inline-block;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.asset-form .frozen-dropdown button {
    height: 50px;
    padding-top: 12px
}

.asset-form .note-input-field {
    height: 100px
}

.decimal-dropdown {
    overflow: scroll;
    height: 350px
}

.total-supply-label-container {
    display: flex;
    justify-content: space-between
}

.total-supply-container {
    display: flex
}

.total-supply-container #totalSupply {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    text-align: right;
    padding-right: 2px;
    box-shadow: none!important
}

.total-supply-container #totalSupplyDecimals {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    padding-left: 5px;
    box-shadow: none!important
}

.total-supply-container input#totalSupplyDecimals:focus {
    outline-width: 0
}

.total-supply-container .dot-supply {
    padding-top: 14px;
    margin-right: -4px;
    z-index: 100
}

.total-supply-container #assetDecimals {
    max-width: 78px;
    margin-left: 10px
}

.total-supply-container .error-total-supply {
    margin-top: 52px;
    position: absolute!important
}

::-webkit-input-placeholder {
    color: #d3cfcf!important
}

:-ms-input-placeholder {
    color: #d3cfcf!important
}

::placeholder {
    color: #d3cfcf!important
}

.form-group {
    position: relative
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px
}

::-webkit-scrollbar-track {
    background: 0 0;
    border-radius: 10px!important
}

::-webkit-scrollbar-thumb {
    background: #ced4da;
    border-radius: 10px!important
}

::-webkit-scrollbar-thumb:hover {
    background: #ced4da
}

.invalid-feedback {
    font-size: .75rem!important
}

.grey-icon {
    color: #d6d5d5
}

:after,:before {
    box-sizing: border-box
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0!important
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

button,input,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,input {
    overflow: visible
}

button {
    text-transform: none
}

[type=button],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

textarea {
    overflow: auto;
    resize: vertical
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #7b8a8b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #7b8a8b;
    background-color: #fff;
    border-color: #82a7e8;
    outline: 0
}

.form-control::-webkit-input-placeholder {
    color: #95a5a6;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #95a5a6;
    opacity: 1
}

.form-control::placeholder {
    color: #95a5a6;
    opacity: 1
}

.form-group,input#hex {
    margin-bottom: 1rem
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #e74c3c
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(36,94,199,.25)
}

.btn:disabled {
    opacity: .65
}

.btn-secondary {
    color: #fff;
    background-color: #0badc0;
    border-color: #0badc0
}

.btn-secondary:focus,.btn-secondary:hover {
    color: #fff;
    background-color: #098c9c;
    border-color: #088290
}

.btn-secondary:disabled {
    color: #fff;
    background-color: #0badc0;
    border-color: #0badc0
}

.dropdown {
    position: relative
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.dropdown-toggle:empty:after {
    margin-left: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .8rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item:focus,.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #ecf0f1
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #245ec7
}

.dropdown-item:disabled {
    color: #b4bcc2;
    pointer-events: none;
    background-color: transparent
}

@media screen and (max-width:768px) {
    .chnMFN {
        max-width: 500px;
        grid-template-columns: 1fr
    }

    .jcNZzC {
        padding: 1vw
    }

    .eFHlqH {
        font-size: 4vw
    }

    .jMhaxE,.ljMhaxE {
        width: 8.5vw;
        height: 8.5vw
    }

    .ljMhaxE {
        width: 20vw
    }

    .bktcUM {
        font-size: 5vw!important
    }
}

button#wallet-connect:focus {
    background-color: rgb(195 195 195/38%)!important
}

.bp3-overlay-content {
    z-index: 20;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.2rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.1rem;
    opacity: 0
}

.custom-control-input:disabled~.custom-control-label {
    color: #95a5a6
}

.custom-control-input:disabled~.custom-control-label:before {
    background-color: #ecf0f1
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top
}

.custom-control-label:before {
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #b4bcc2
}

.custom-control-label:after,.custom-control-label:before {
    position: absolute;
    top: .1rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: ""
}

.custom-control-label:after {
    background: 50%/50% 50%no-repeat
}

.custom-switch {
    padding-left: 2.25rem
}

.custom-switch .custom-control-label:before {
    left: -2.25rem;
    width: 1.75rem;
    pointer-events: all;
    border-radius: .5rem
}

.custom-switch .custom-control-label:after {
    top: calc(.1rem + 2px);
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    background-color: #b4bcc2;
    border-radius: .5rem;
    transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out
}

.custom-control-label:before {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.mb-0 {
    margin-bottom: 0!important
}

.mr-2 {
    margin-right: .5rem!important
}

.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important
}

.text-center {
    text-align: center!important
}

@media print {
    *,:after,:before {
        text-shadow: none!important;
        box-shadow: none!important
    }
}

.main-button {
    background-color: #fff!important;
    color: #245ec7!important;
    border: 1px solid #245ec7!important;
    border-radius: 5px!important;
    font-weight: 500;
    font-size: .75rem!important;
    min-width: 80px
}

.main-button.inverted {
    background-color: #245ec7!important;
    color: #fff!important;
    border: 1px solid #245ec7!important
}

.main-button.standar-big {
    min-width: 250px;
    height: 50px
}

.main-button:hover {
    background-color: #245ec7!important;
    color: #fff!important;
    border: 1px solid #245ec7!important
}

.main-button:hover.inverted {
    background-color: #1e65e6!important;
    border: 1px solid #1e65e6!important
}

.main-button:disabled,.main-button:disabled:hover {
    background-color: #e2e7eb!important;
    color: #2c2e2f!important;
    border: 1px solid #e2e7eb!important
}

.main-button:active,.main-button:focus {
    outline: 0!important;
    box-shadow: none!important
}

@media (max-width:991px) {
    .main-button {
        font-size: .7rem
    }

    .main-button.standar-big {
        height: 40px;
        width: 250px
    }
}

input.disabled-field {
    background: 0 0!important
}

.card-border {
    border-radius: .375rem;
    padding: 1rem;
    border: 1px solid #c7cbd9
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.MuiBox-root.css-1om0hkc {
    width: 20px;
    height: 20px
}

.bp3-dialog {
    background: #f9f9fe
}

.form-control:disabled {
    background-color: #ecf0f1;
    opacity: 1;
    color: #d3cfcf!important
}

.delete-icon {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center
}

.plus-circle-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc' fill='%238247e5' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='AddCircleIcon'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z'/%3E%3C/svg%3E")
}

.plus-circle-icon,.plus-icon,.save-icon {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center
}

.delete-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc' fill='%23db3737' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='DeleteIcon'%3E%3Cpath d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z'/%3E%3C/svg%3E")
}

.save-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc' fill='%238247e5' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='SaveIcon'%3E%3Cpath d='M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z'/%3E%3C/svg%3E")
}

.plus-icon {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc' fill='%230d8050' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='AddIcon'%3E%3Cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'%3E%3C/path%3E%3C/svg%3E")
}

p#preview {
    color: #61677e;
    font-size: 12px;
    font-weight: 400!important
}

.big-switch.custom-switch.custom-control.ml-2 {
    margin-left: .5rem
}

img.hashlock {
    width: -webkit-fill-available;
    max-width: fit-content
}

@media (max-width:959px) {
    .jss51 {
        margin-top: 15px
    }

    .footer-right {
        display: flex;
        flex-direction: column
    }

    button#JSONuploader {
        margin-bottom: 0!important
    }
}

input#hex:disabled {
    color: #d3cfcf!important
}

.jss69.w-50 {
    width: 50%
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.footer-right {
    display: flex
}

li#preview2 {
    font-size: 1.4rem
}

a.bp3-button.bp3-large.bp3-minimal.bp3-outlined.bp3-intent-success {
    background-color: #8247e5
}

a.bp3-button.bp3-large.bp3-minimal.bp3-outlined.bp3-intent-success:hover {
    background-color: #935af3!important
}

a.bp3-button.bp3-large.bp3-minimal.bp3-outlined.bp3-intent-success:focus {
    color: #fff!important;
    border-color: unset!important
}

a.bp3-button.bp3-large.bp3-minimal.bp3-outlined.bp3-intent-success:active {
    border-color: unset!important
}

.flex {
    display: flex;
    align-items: flex-start;
    grid-gap: 1rem
}

.flex2 {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 75%
}

.flex3 {
    padding: 10px
}

button.bp3-button.bp3-outlined.bp3-intent-success:hover {
    background: rgb(130 71 229/15%)!important;
    color: rgb(117 51 226)!important;
    border-color: #7533e2!important
}

.bp3-button.bp3-outlined.bp3-intent-success:active,button.bp3-button.bp3-outlined.bp3-intent-success:focus {
    background: rgb(130 71 229/25%)!important;
    color: rgb(117 51 226)!important;
    border-color: #7533e2!important
}

@media (max-width:550px) {
    .flex {
        display: block;
        align-items: flex-start;
        grid-gap: 1rem;
        flex-direction: column
    }

    .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-4.MuiGrid-grid-md-3.flex-grow {
        max-width: 100%!important
    }

    .flex2 {
        width: unset
    }
}

.jss24 {
    left: 10px;
    color: #7533e2;
    margin: auto;
    display: block;
    position: absolute
}

.jss21 {
    border: 1px solid #8247e5;
    height: 44px;
    display: inline-flex;
    padding: 0 20px;
    position: relative;
    font-size: 16px;
    transition: all .3s ease;
    font-weight: 600;
    line-height: 44px;
    border-radius: 4px;
    text-transform: capitalize
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.jss21.jss23.jss22.Mui-disabled.Mui-disabled {
    cursor: default;
    pointer-events: none;
    padding-left: 2.7rem
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit
}

.MuiCircularProgress-circleIndeterminate {
    animation: MuiCircularProgress-keyframes-circular-dash 1.4s ease-in-out infinite;
    stroke-dasharray: 80px,200px;
    stroke-dashoffset: 0
}

.MuiCircularProgress-colorPrimary {
    color: #7167d9
}

.MuiCircularProgress-indeterminate {
    animation: MuiCircularProgress-keyframes-circular-rotate 1.4s linear infinite
}

*,::after,::before {
    box-sizing: inherit
}

.css-13o7eu2 {
    display: block
}

.css-14891ef {
    stroke: currentColor;
    stroke-dasharray: 80px,200px;
    stroke-dashoffset: 0;
    -webkit-animation: animation-1p2h4ri 1.4s ease-in-out infinite;
    animation: animation-1p2h4ri 1.4s ease-in-out infinite
}

#list2 ul {
    margin: 0;
    padding: 10px;
    list-style-type: none
}

.jss69,.jss70 {
    overflow: hidden;
    border-radius: 10px
}

.jss69 {
    width: 100%;
    border: .5px solid #e8e8e8;
    cursor: pointer;
    height: 100%;
    padding: 16px;
    box-shadow: 0 2px 10px rgb(0 0 0/10%);
    background-color: #fff
}

.jss69:hover img {
    transform: scale(1.1);
    transition: all .3s ease
}

.jss70 {
    position: relative;
    margin-bottom: 12px
}

.jss71 {
    width: 100%;
    padding-bottom: 100%
}

.jss72 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    position: absolute;
    transform: scale(1);
    object-fit: cover;
    transition: all .3s ease;
    background-color: #edf0f7
}

.jss73 {
    padding: 0 2px
}

.jss74 {
    margin: 0 0 4px;
    font-size: 17px;
    text-transform: capitalize
}

.jss75 {
    color: #515c72;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between
}

.jss75 span {
    text-transform: uppercase
}
/*! CSS Used from: Embedded */
.jss57 {
    margin: auto;
    padding: 0;
    max-width: 1080px
}

@media (max-width:1120px) {
    .jss57 {
        padding: 0 20px
    }
}

@media (max-width:599px) {
    .jss57 {
        padding: 0 15px
    }
}

.jss65 {
    margin-top: 12px;
    min-height: 430px;
    padding-bottom: 70px;
    background-color: #fff
}

.jss66 {
    margin: 30px 0 10px;
    font-weight: 700
}

svg.question-modal {
    width: 30px;
    height: 30px;
}

button#help-text {
    color: #fff;
    height: 20px;
    width: 20px;
    z-index: 1;
    border-width: 0;
    transition: .3s ease;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-svg {
    fill: #939bba;
    width: 0.7em;
    height: 0.7em;
    display: flex;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
    flex-shrink: 0;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.label-switch.help-switch {
    display: flex;
    justify-content: flex-start;
}

.jss1-2 {
    margin: auto;
    padding: 0;
    max-width: 1080px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.jss1-3 {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    left: 0px;
    width: 100%;
}

@media(max-width: 575px){
    .cta-rounded {
        display: none !important;
    }
}

.cta-rounded {
        display: flex;
        grid-gap: 4px;
        align-items: center;
}

div#html-block > img {
    height: -webkit-fill-available;
    margin-left: -15%;
}

@media (max-width: 500px){
    .jss6 {
        top: 80px;
        left: 0;
        width: 100%;
        height: 0;
        grid-gap: 10px;
        padding-left: 15px;
        padding-right: 15px;
        overflow: scroll;
        position: absolute;
        transition: all .5s ease;
        background-color: #fff;
        justify-content: unset;
    }
}